<ion-header>
  <app-header></app-header>
  </ion-header>
  <ion-content>



  <div class="cuerpo">
    <div class="menu-container">
      <details>
        <summary>MA_ASY4131_24213923</summary>
        <p><strong>Seccion:</strong>ARQUITECTURA_002</p>
        <p><strong>Horario:</strong> Lunes y Miércoles, 8:00 - 10:00</p>
        <a [routerLink]="['/detalles-arquitectura']">Detalles</a>
      </details>

      <details>
        <summary>FMA_PGY4121_24213927</summary>
        <p><strong>Seccion:</strong>PROGRAMACION DE APLICACIONES MOVILES_001D</p>
        <p><strong>Horario:</strong> Martes y Jueves, 10:00 - 12:00</p>
        <a [routerLink]="['/detalles-programacion']">Detalles</a>
      </details>

      <details>
        <summary>MA_PGY4121_24213927</summary>
        <p><strong>Seccion:</strong>ESTADISTICA DESCRIPTIVA_013D</p>
        <p><strong>Horario:</strong> Viernes, 8:00 - 10:00</p>
        <a [routerLink]="['/detalles-estadistica']">Detalles</a>
      </details>

     >
    </div>
  </div>



   </ion-content>
   <ion-footer>
  <app-footer></app-footer>
  </ion-footer>
